InstallPath={{ yellowfin_install_path }}
InstallTutorialDatabase=false
ServicePort=8080
InstallService=false
DatabaseType=mysql
CreateYellowfinDB=false
CreateYellowfinDBUser=false
DatabaseHostname={{ yellowfin_dummydb_host }}
DatabaseName=yellowfin
DatabaseDBAUser={{ yellowfin_dummydb_user }}
DatabaseDBAPassword={{ yellowfin_dummydb_pwd }}
DatabaseUser={{ yellowfin_dummydb_user }}
DatabasePassword={{ yellowfin_dummydb_pwd }}
JDBCDriverFiles=/tmp/{{ yellowfin_mysql_connector_jar }}
LicenceFilePath=/tmp/{{ licensefile }}